p{
text-align:center;
background-color:lightgrey;
height:5%;
width:100%;
padding:0px;
margin:0px;
boarder:0px;
}

h1{
background-color:white;
height:12%;
width:100%;
padding:0px;
margin:0px;
boarder:0px;
}
.section{
text-align:center;
background-color:blue;
height:6%;
width:100%;
padding:0px;
margin:0px;
boarder:0px;
}
img{
height:65%;
width:100%;
padding:0px;
margin:0px;
boarder:0px;
}

.image{
height:10%;
width:15%;
padding:2px;
margin:7px;
/*vertical-align: top;
border-style: none;*/
}

.divheight{
height:40%;
width:100%;
background-color:lightgrey;
padding:0px;
margin:0px;
boarder:0px;
}

h2{
text-align:center;
}

.main{
background-color:grey;
height:40%;
width:100%;
.split{
height:30%;
width:20%;
background-color:red;
padding:0px;
margin:0px;

.imagesize{
height:10%;
width:15%;
padding:2px;
margin:7px;
/*vertical-align: top;
border-style: none;*/
overflow:hidden;


